name: Publish to Maven

on:
  push:
    tags:
      - 'v*'

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Package Command Line Jar
        uses: actions/setup-java@v1.4.2
        with:
          java-version: '11.0.8'
      - run: sbt clean test assembly
      - name: Upload Command Line Jar
        uses: actions/upload-artifact@v2
        with:
          name: psg-cardano-wallet-api-assembly
          path: target/scala-2.13/psg-cardano-wallet-api-assembly*.jar
      - name: Load Variables
        id: load_envvars
        run: |
            echo 'GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}' >> $GITHUB_ENV
            echo 'GPG_SIGNING_KEY<<EOF' >> $GITHUB_ENV
            echo '${{ secrets.GPG_SIGNING_KEY }}' >> $GITHUB_ENV
            echo 'EOF' >> $GITHUB_ENV
            echo 'SONA_USER=${{ secrets.SONA_USER }}' >> $GITHUB_ENV
            echo 'SONA_PASS=${{ secrets.SONA_PASS }}' >> $GITHUB_ENV
      - name: Configure GPG Key
        run: |
            mkdir -p ~/.gnupg/
            printf "$GPG_SIGNING_KEY" | base64 --decode > ~/.gnupg/private.key
            gpg --import --no-tty --batch --yes ~/.gnupg/private.key
      - uses: actions/checkout@v2
      - name: Package
        uses: actions/setup-java@v1.4.2
        with:
            java-version: '11.0.8'
      - run: sbt publishSigned sonatypeRelease
