name: Publish to Maven

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SONA_USER: ${{ secrets.SONA_USER }}
  SONA_PASS: ${{ secrets.SONA_PASS }}

on:
  push:
    tags:
      - 'v*'

jobs:
  package:
    if: contains(github.ref, 'master') || contains(github.ref, 'develop')
    runs-on: ubuntu-latest
    steps:
      - name: Configure GPG Key
        run: |
            mkdir -p ~/.gnupg/
            printf "$GPG_SIGNING_KEY" | base64 --decode > ~/.gnupg/private.key
            gpg --import --no-tty --batch --yes ~/.gnupg/private.key
        env:
            GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      - uses: actions/checkout@v2
      - name: Package
        uses: actions/setup-java@v1.4.2
        with:
            java-version: '11.0.8'
      - run: sbt publishSigned sonatypeRelease
      - name: Package Command Line Jar
        uses: actions/setup-java@v1.4.2
        with:
            java-version: '11.0.8'
      - run: sbt assembly
      - name: Upload Command Line Jar
        uses: actions/upload-artifact@v2
        with:
          name: psg-cardano-wallet-api-assembly
          path: target/scala-2.13/psg-cardano-wallet-api-assembly*.jar

